*{
    margin: 0;
    padding: 0;
}

body{
    background: #F9F9F9;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: #fff;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

.contact-left{
    padding: 40px 60px;
}

.contact-right{
    padding: 40px;
    background: #1c00b5;
    color: #fff;
}


/*
Responsiviteti ne momentin qe arrihet width 800px(screen telefoni), kalohet nga rresht ne kolone
*/

@media (max-width: 800px) {
    .contact-box{
      flex-direction: column;
    }
    .contact-right{
        margin-bottom: 20px;
    }
    .contact-left{
        padding: 20px 30px;
    }
}

@media (max-width: 500px) {

    .contact-right{
        zoom: 0.8;
    }
}

@media (max-width: 400px) {

    .contact-right{
        zoom: 0.7;
    }
}

@media (max-width: 350px) {

    .contact-right{
        zoom: 0.6;
    }
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 40px;
}

/* inputet ndahen ne rreshta dhe cdo rresht ka grupet individuale. space between qe te zene tere hapesiren*/
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom:5px ;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3{
    color:#1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}


/* Copyrighti ne fund te faqes */
footer {
    background-color: #f0f0f0;
    padding: 30px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* Copyright section */
  footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: #777;
  }
  
  /* Media Queries for responsiveness */
  
  /* For screen sizes 768px and below */
  @media screen and (max-width: 768px) {
    footer .right {
      display: block; /* Show links in a block to stack vertically */
      text-align: center;
      margin-top: 10px;
    }
  }
  
  /* For screen sizes 576px and below */
  @media screen and (max-width: 576px) {
    footer .right {
      display: block; /* Show links in a block to stack vertically */
      text-align: center;
      margin-top: 10px;
    }
  
    footer .left,
    footer .right {
      width: 100%; /* Make the spans full width */
      display: block;
    }
  
    footer .right a {
      display: inline-block; /* Display links as blocks for better spacing */
      margin: 5px;
    }
  }
  

/* HEADER */
.header {
	background: #08090a;
}
.navbar{
    display: inline-flex;
}
.navbar .navleft{
    display: inline-flex;
}

.navbar .navright{
    display: inline-flex;
}

.header .navbar{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	display: inline-flex;	
}
.header .dumbbell{
        display: inline-flex;
    }

.header .dumbell{
	padding: 15px 0px 20px 90px;
	margin: 0px 10px 10px 10px;
}

.header .gym{
	padding: 20px 80px 20px 5px;
    margin: 0px 10px 10px 10px;
}

.header .home{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 55px 20px 5px;
	transition: all 1s;
}

.header .home:hover{
    transform: scale(1.1);
    color: white;
}

.header .services{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .services:hover{
	transform: scale(1.1);
	color: white;
}

.header .features-btn{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .features-btn:hover{
	transform: scale(1.1);
	color: white;
}

.header .about{
    color: rgba(243, 235, 235, 0.5);
    padding: 20px 35px 20px 5px;
    transition: all 1s;
}
.header .about:hover{
    transform: scale(1.1);
    color: white;
}

.header .contact{
	color: rgb(243, 235, 235);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}

.header .login{
	color: white;
	padding: 20px 10px 20px 5px;
	transition: all 1s;
}
.header .login:hover{
	transform: scale(1.1);
	font-display: bold;
}

.header .signup{
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 10px;

	margin: 10px 10px 20px 10px;
	color: white;
	transition: all 1s;
}
.header .signup:hover{
	transform: scale(1.1);
}


.header h1{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-display: bold;
	font-size: 350%;
}
.header h5{
	color: rgba(243, 235, 235, 0.6);
	font-family: 'Ubuntu', sans-serif;
	font-size: 115%;
}
.header #image{
	float: right;
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 0px 30px;
}
.header #image img{
    max-width: 100%;
    height: auto;
}
.header .title{
	padding: 10px 10px 0px 10px;
	margin: 35px 10px 15px 35px;
}
.header #ikona{
    padding: 30px 30px 0px 10px;
    margin: 0px 0px 0px 50px;
}
.header #ikona img{
    max-width: 80%;
    height: auto;
}


.header .download{
	width:50px;
	height:23px;
	display: inline-flex;
	padding: 50px 30px 0px 10px;
	margin: 0px 0px 0px 80px;
    z-index: 1;
    zoom: 0.3;
    padding-left: 220px;
    gap: 50px;
}

.header .banner{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

@media (max-width: 1023px) {
    .header .banner {
      flex-direction: column-reverse;
    }
    .header .dumbbell{
        flex-direction: row;
    }
    .header .navbar {
        flex-wrap: wrap;
            max-width: 100%;
    }
    .header .navbar .navright{
        padding-left: 90px;
    }

}
@media (max-width: 767px) {
    .header .banner {
      flex-direction: column-reverse;
    }
    .header .navbar .navleft{
    flex-direction: column;
    }
    .header .dumbbell{
        flex-direction: row;
    }
    .header .navbar .navright{
        flex-direction: column;
        padding-left: 10px;
    }
    .header .navbar{
        flex-direction: column;
    }
    .header .navbar a{
        padding: 10px;
    }

    .header .dumbell {
    padding: 5px 0px 10px 0px;
    }

    .header .gym {
    padding: 5px 0px 5px 10px;
    }
    .header .navbar div {
    padding: 10px;
    }

    .header #image {
    width: 100%; 
    height: auto;
    padding: 0px;
    margin: 20px;
    }
    .header #ikona {
    width: 100%; 
    height: auto;
    padding: 0px;
    margin: 10px;
    }

    .header .title {
    margin: 10px;
    }

    .header .download {
    margin: 10px;
    }
}
