body{
    padding: 0;
    margin: 0;
}

/* HEADER */
.header {
	background: #08090a;
}
.navbar{
    display: inline-flex;
}
.navbar .navleft{
    display: inline-flex;
}

.navbar .navright{
    display: inline-flex;
}

.header .navbar{
	color: white;
	font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
	display: inline-flex;	
}
.header .dumbbell{
        display: inline-flex;
    }

.header .dumbell{
	padding: 15px 0px 20px 90px;
	margin: 0px 10px 10px 10px;
}

.header .gym{
	padding: 20px 80px 20px 5px;
    margin: 0px 10px 10px 10px;
}

.header .home{
	color: rgb(243, 235, 235);
	padding: 20px 55px 20px 5px;
	transition: all 1s;
}

.header .services{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .services:hover{
	transform: scale(1.1);
	color: white;
}

.header .features-btn{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .features-btn:hover{
	transform: scale(1.1);
	color: white;
}

.header .about{
    color: rgba(243, 235, 235, 0.5);
    padding: 20px 35px 20px 5px;
    transition: all 1s;
}
.header .about:hover{
    transform: scale(1.1);
    color: white;
}

.header .contact{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .contact:hover{
	transform: scale(1.1);
	color: white;
}


.header .login{
	color: white;
	padding: 20px 10px 20px 5px;
	transition: all 1s;
}
.header .login:hover{
	transform: scale(1.1);
	font-display: bold;
}

.header .signup{
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 10px;

	margin: 10px 10px 20px 10px;
	color: white;
	transition: all 1s;
}
.header .signup:hover{
	transform: scale(1.1);
}


.header h1{
	color: white;
	font-family: Bahnschrift;
	font-display: bold;
	font-size: 350%;
}
.header h5{
	color: rgba(243, 235, 235, 0.6);
	font-family: "Calibri Light";
	font-size: 115%;
}
.header #image{
	float: right;
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 0px 30px;
}
.header #image img{
    max-width: 100%;
    height: auto;
}
.header .title{
	padding: 10px 10px 0px 10px;
	margin: 35px 10px 15px 35px;
}
.header #ikona{
    padding: 30px 30px 0px 10px;
    margin: 0px 0px 0px 50px;
}
.header #ikona img{
    max-width: 80%;
    height: auto;
}


.header .download{
	width:50px;
	height:23px;
	display: inline-flex;
	padding: 50px 30px 0px 10px;
	margin: 0px 0px 0px 80px;
    z-index: 1;
    zoom: 0.3;
    padding-left: 220px;
    gap: 50px;
}

.header .banner{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

@media (max-width: 1023px) {
    .header .banner {
      flex-direction: column-reverse;
    }
    .header .dumbbell{
        flex-direction: row;
    }
    .header .navbar {
        flex-wrap: wrap;
            max-width: 100%;
    }
    .header .navbar .navright{
        padding-left: 90px;
    }

}
@media (max-width: 767px) {
    .header .banner {
      flex-direction: column-reverse;
    }
    .header .navbar .navleft{
    flex-direction: column;
    }
    .header .dumbbell{
        flex-direction: row;
    }
    .header .navbar .navright{
        flex-direction: column;
        padding-left: 10px;
    }
    .header .navbar{
        flex-direction: column;
    }
    .header .navbar a{
        padding: 10px;
    }

    .header .dumbell {
    padding: 5px 0px 10px 0px;
    }

    .header .gym {
    padding: 5px 0px 5px 10px;
    }
    .header .navbar div {
    padding: 10px;
    }

    .header #image {
    width: 100%; 
    height: auto;
    padding: 0px;
    margin: 20px;
    }
    .header #ikona {
    width: 100%; 
    height: auto;
    padding: 0px;
    margin: 10px;
    }

    .header .title {
    margin: 10px;
    }

    .header .download {
    margin: 10px;
    }
}


/* SERVICES/PAGE */

.page{
    background-color: #F9F9F9;
    padding: 50px 50px 50px 50px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    height: 0%;
}

/* Containeri i te gjithe paketave(3) ne qender */

.page #package-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

/*
Responsiviteti ne momentin qe arrihet width 800px(screen telefoni), kalohet nga rresht ne kolone
*/

@media (max-width: 800px) {
    .page #package-container {
      flex-direction: column;
    }
}

/* Stilizimi i cdo pakete */

.page .package{
    margin: 10px;
    background-color: white;
    width: 250px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #888888;
}

/* Te 3 paketat me rradhe i jane rregulluar hapesirat ne baze te madhesise se ikones, 
zene 50px me 50px secila */
.page .fa-solid {
    background-color: #E5F5FF;
    border-radius: 5px;
}

.page .fa-person{
    padding: 24.5px 17.5px 24.5px 17.5px;
}

.page .fa-people-group{
    padding: 24.5px 10px 24.5px 10px;
}

.page .fa-dumbbell{
    padding: 24.5px 10px 24.5px 10px;
}

/* Stilizim i teksteve ne te tere faqen */
.page h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.page h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
}

.page p{
    color: #3F3F3F;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
} 


/* FEATURES */

.features{
    width : 80%;
    margin: auto;
    padding-top: 50px;
}

.features .row3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.features .row3rev{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.features .col1{
    flex-basis: 50%;
    position: relative;
    padding-right: 10px;
    align-items: center;
    margin-right: 20px;
}

.features .col2{
    flex-basis: 50%;
    position: relative;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
}

.features img{
    height: 70%;
    zoom: 0.7
}

.features h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	font-weight: bold;
}

.features p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
    color: dimgray;
}

.features .button{
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
}

.features .button:hover{
    background-color:darkgray;
}



@media (max-width: 1150px) {
    .features .row3{
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        flex-direction: column;

    }
    .features .row3rev{
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        flex-direction: column-reverse;

    }
    .features img{
        zoom: 0.4;
    }

    .features .col1{
        margin-right: 0px;
    }
    
    .features .col2{
        margin-left: 0px;
    }
}

/* DOWNLOAD AREA */
.download-area{
    width : 80%;
    margin: auto;
    padding-top: 50px;
    background-color:rgb(251, 251, 251);
}

.download-area .row5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.download-area .col1{
    flex-basis: 50%;
    position: relative;
    padding-right: 10px;
    align-items: center;
    margin-right: 20px;
}

.download-area .col2{
    flex-basis: 50%;
    position: relative;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
}

.download-area img{
    height: 70%;
    zoom: 0.7
}

.download-area h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.download-area p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: dimgray;
}

.download-area .download{
    width: 170px;
    height: 60px;
}

@media (max-width: 1150px) {
    .download-area .row5{
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        flex-direction: column;

    }

    .download-area img{
        zoom: 0.4;
    }

    .download-area .col1{
        margin-right: 0px;
    }
    
    .download-area .col2{
        margin-left: 0px;
    }
}

/* REVIEWS */

.reviews *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;

	/* Variables for storing colors */
	--card-clr: #ffffff;
	--body-clr: #ffffff;
	--primary-clr: #1b1a1a;
	--heading-clr: #dadada;
	--text-clr: #000000;
}
.reviews body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--body-clr);
}
.reviews .testimonials-section{
	width: 100%;
	padding: 0px 8%;
}


.reviews .testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.reviews .section-header h1{
	position: relative;
	font-size: 36px;
	color: var(--primary-clr);
}
.reviews .testimonials-container{
	position: relative;
}
.reviews .testimonials-container .testimonial-card{
	padding: 20px;
}
.reviews .testimonial-card .test-card-body{
	background-color: var(--card-clr);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
}
.reviews .test-card-body .quote{
	display: flex;
	align-items: center;
}
.reviews .test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.reviews .test-card-body .quote h2{
	color: var(--heading-clr);
}
.reviews .test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.reviews .test-card-body .ratings{
	margin-top: 20px;
}
.reviews .test-card-body .ratings i{
	font-size: 17px;
	color: var(--primary-clr);
	cursor: pointer;
}
.reviews .testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.reviews .profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.reviews .profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.reviews .profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.reviews .profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.reviews .profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--text-clr);
}
.reviews .owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.reviews .owl-nav button{
	border-radius: 50% !important;
}
.reviews .owl-nav .owl-prev i,
.reviews .owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.reviews .owl-nav .owl-prev i:hover,
.reviews .owl-nav .owl-next i:hover{
	background-color: var(--primary-clr) !important;
	color: #e9e9e9;
}
.reviews .owl-dots{
	margin-top: 15px;
}
.reviews .owl-dots .owl-dot span{
	background-color: #434753 !important;
	padding: 6px !important;
}
.reviews .owl-dot.active span{
	background-color: var(--primary-clr) !important;
}


/* FOOTER */
/* Containeri i te gjithe divs(3) ne qender */

.footer .footer-container{
    background-color: white;
    padding: 50px 50px 50px 50px;
    text-align: left;
    margin: 0px 0px 0px 0px;
    height: 0%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

/*
Responsiviteti ne momentin qe arrihet width 1100px, kalohet nga rresht ne kolone
*/

@media (max-width: 1100px) {
    .footer .footer-container {
      flex-direction: column;
    }
}

/* Stilizimi i cdo div */

.footer .footer-div{
    margin: 50px;
    background-color: white;
    width: 250px;
    height: 200px;
    padding: 0px 20px 20px 20px;
}


.footer body {
    padding:0;
    margin:0;
}

.footer .fa-dumbbell{
    background-color: #E5F5FF;
    border-radius: 5px;
    padding: 24.5px 10px 24.5px 10px;
}

/* Stilizim i teksteve ne te tere faqen */

.footer p{
    color: #3F3F3F;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/* Stilimi i te gjitha ikonave qe te jene te barabarta*/

.footer .fa-brands{
    background-color: #F9F9F9;
    border-radius: 40px;
    padding: 10px;
  }

.footer .fa-facebook-f{
    padding: 10px 13px 10px 13px;
  }

.footer .fa-linkedin-in, .footer .fa-instagram{
    padding: 10px 11px 10px 11px;
  }

  /* Butoni send, input text box dhe stilimi per te dyja */

  .footer #send-btn{
    background-color: black;
    height:52px;
    color:white;
    border: 2px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 15px; 
    margin-left: 3px;
  }

  .footer .input{
    border-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    width:max-content;
}

.footer #input-field{
    background-color: #F9F9F9;
    height: 38px;
    border: 2px solid #F9F9F9; 
    border-radius: 10px 0px 0px 10px; 
    padding: 5px 10px;
}
  
/* Copyrighti ne fund te faqes */
footer {
    background-color: #f0f0f0;
    padding: 30px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* Copyright section */
  footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: #777;
  }
  
  /* Media Queries for responsiveness */
  
  /* For screen sizes 768px and below */
  @media screen and (max-width: 768px) {
    footer .right {
      display: block; /* Show links in a block to stack vertically */
      text-align: center;
      margin-top: 10px;
    }
  }
  
  /* For screen sizes 576px and below */
  @media screen and (max-width: 576px) {
    footer .right {
      display: block; /* Show links in a block to stack vertically */
      text-align: center;
      margin-top: 10px;
    }
  
    footer .left,
    footer .right {
      width: 100%; /* Make the spans full width */
      display: block;
    }
  
    footer .right a {
      display: inline-block; /* Display links as blocks for better spacing */
      margin: 5px;
    }
  }