body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
.header {
	background: #08090a;
}
.navbar{
    display: inline-flex;
}
.navbar .navleft{
    display: inline-flex;
}

.navbar .navright{
    display: inline-flex;
}

.header .navbar{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	display: inline-flex;	
}
.header .dumbbell{
        display: inline-flex;
    }

.header .dumbell{
	padding: 15px 0px 20px 90px;
	margin: 0px 10px 10px 10px;
}

.header .gym{
	padding: 20px 80px 20px 5px;
    margin: 0px 10px 10px 10px;
}

.header .home{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 55px 20px 5px;
	transition: all 1s;
}

.header .home:hover{
	transform: scale(1.1);
	color: white;
}

.header .services{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .services:hover{
	transform: scale(1.1);
	color: white;
}

.header .features-btn{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .features-btn:hover{
	transform: scale(1.1);
	color: white;
}

.header .about{
    color: rgb(243, 235, 235);
    padding: 20px 35px 20px 5px;
    transition: all 1s;
}

.header .contact{
	color: rgba(243, 235, 235, 0.5);
	padding: 20px 35px 20px 5px;
	transition: all 1s;
}
.header .contact:hover{
	transform: scale(1.1);
	color: white;
}

.header .login{
	color: white;
	padding: 20px 10px 20px 5px;
	transition: all 1s;
}
.header .login:hover{
	transform: scale(1.1);
	font-display: bold;
}

.header .signup{
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 10px;

	margin: 10px 10px 20px 10px;
	color: white;
	transition: all 1s;
}
.header .signup:hover{
	transform: scale(1.1);
}


.header h1{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-display: bold;
	font-size: 350%;
}
.header h5{
	color: rgba(243, 235, 235, 0.6);
	font-family: 'Ubuntu', sans-serif;
	font-size: 115%;
}
.header #image{
	float: right;
	padding: 0px 0px 0px 40px;
	margin: 0px 0px 0px 30px;
}
.header #image img{
    max-width: 100%;
    height: auto;
}
.header .title{
	padding: 10px 10px 0px 10px;
	margin: 35px 10px 15px 35px;
}
.header #ikona{
    padding: 30px 30px 0px 10px;
    margin: 0px 0px 0px 50px;
}
.header #ikona img{
    max-width: 80%;
    height: auto;
}


.header .download{
	width:50px;
	height:23px;
	display: inline-flex;
	padding: 50px 30px 0px 10px;
	margin: 0px 0px 0px 80px;
    z-index: 1;
    zoom: 0.3;
    padding-left: 220px;
    gap: 50px;
}

.header .banner{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

@media (max-width: 1023px) {
    .header .banner {
      flex-direction: column-reverse;
    }
    .header .dumbbell{
        flex-direction: row;
    }
    .header .navbar {
        flex-wrap: wrap;
            max-width: 100%;
    }
    .header .navbar .navright{
        padding-left: 90px;
    }

}
@media (max-width: 767px) {
    .header .banner {
      flex-direction: column-reverse;
    }
    .header .navbar .navleft{
    flex-direction: column;
    }
    .header .dumbbell{
        flex-direction: row;
    }
    .header .navbar .navright{
        flex-direction: column;
        padding-left: 10px;
    }
    .header .navbar{
        flex-direction: column;
    }
    .header .navbar a{
        padding: 10px;
    }

    .header .dumbell {
    padding: 5px 0px 10px 0px;
    }

    .header .gym {
    padding: 5px 0px 5px 10px;
    }
    .header .navbar div {
    padding: 10px;
    }

    .header #image {
    width: 100%; 
    height: auto;
    padding: 0px;
    margin: 20px;
    }
    .header #ikona {
    width: 100%; 
    height: auto;
    padding: 0px;
    margin: 10px;
    }

    .header .title {
    margin: 10px;
    }

    .header .download {
    margin: 10px;
    }
}

/*Stilizimi i gjithe faqes*/
.page{  
    padding: 50px 50px 5px 50px;
    text-align: left;
    margin: 0px 0px 0px 0px;
    height: 0%;
}

/*Titulli i faqes*/
.page h3{
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 250%;
}

/*What is GYM Fitness*/
.tekst1{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;    
    height: 0%;
    padding: 0px 50px 0px 50px;
    margin: 0px 0px 0px 0px;
}
.about1 h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 110%;
    font-weight: lighter;
    text-align: left;
}
.about1 .image{
    width: 300px;
    height: auto;
    float: right;
    padding: 30px 50px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.about1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    padding: 10px 10px 20px 10px;
    margin: 35px 60px 15px 60px;
    background-color: #F9F9F9;
    border-radius: 20px;
}

/*Meet our trainers*/
.tekst2{
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    height: 0%;
    padding: 50px 50px 50px 50px;
    margin: 0px 0px 0px 0px;
}
.about2 h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 110%;
    font-weight: lighter;
}
.about2 .image{
    width: 300px;
    height: auto;
    float: left;
    padding: 30px 50px 0px 50px;
    margin: 0px 0px 0px 0px;
}
.about2 .image img{
    border-radius: 35px;
}
.about2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    padding: 10px 10px 20px 10px;
    margin: 35px 60px 15px 60px;
    background-color: #F9F9F9;
    border-radius: 20px;
}

/*Responsiviteti per ekrane te vogla*/
@media (max-width: 767px) {
    .about1 {
        flex-direction: column;
        margin: 20px 30px 20px 30px;
    }
    .about1 .image {
        width: 100%; 
        height: auto;
        padding: 0px;
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .about1 .image img{
        zoom: 0.8;
    }
    .about1 .tekst1 {
        margin: 10px;
        padding: 0px 0px 0px 0px;
    }

    .about2 {
        flex-direction: column-reverse;
        margin: 20px 30px 20px 30px;
    }
    .about2 .image {
        width: 100%; 
        height: auto;
        padding: 0px;
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .about2 .image img{
        zoom: 0.6;
    }
    .about2 .tekst2 {
        margin: 10px;
        padding: 0px 0px 0px 0px;
    }
}

/*Footer*/
.footer .footer-container{
    background-color: white;
    padding: 50px 50px 50px 50px;
    text-align: left;
    margin: 0px 0px 0px 0px;
    height: 0%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

/*Responsiviteti per ekrane me te vogla se laptopi*/
@media (max-width: 1100px) {
    .footer .footer-container {
      flex-direction: column;
    }
}

/*Stilizimi i cdo div*/
.footer .footer-div{
    margin: 50px;
    background-color: white;
    width: 250px;
    height: 200px;
    padding: 0px 20px 20px 20px;
}

.footer body {
    padding:0;
    margin:0;
}
.footer .fa-dumbbell{
    background-color: #E5F5FF;
    border-radius: 5px;
    padding: 24.5px 10px 24.5px 10px;
}

/*Stilizim i teksteve ne te tere faqen*/
.footer p{
    color: #3F3F3F;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/*Stilimi i te gjitha ikonave qe te jene te barabarta*/
.footer .fa-brands{
    background-color: #F9F9F9;
    border-radius: 40px;
    padding: 10px;
  }
.footer .fa-facebook-f{
    padding: 10px 13px 10px 13px;
  }
.footer .fa-linkedin-in, .footer .fa-instagram{
    padding: 10px 11px 10px 11px;
  }

/*Butoni send, input text box dhe stilimi per te dyja */
.footer #send-btn{
    background-color: black;
    height:52px;
    color:white;
    border: 2px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 15px; 
    margin-left: 3px;
}
.footer .input{
    border-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    width:max-content;
}

.footer #input-field{
    background-color: #F9F9F9;
    height: 38px;
    border: 2px solid #F9F9F9; 
    border-radius: 10px 0px 0px 10px; 
    padding: 5px 10px;
}
  
/* Copyrighti ne fund te faqes */
footer {
    background-color: #f0f0f0;
    padding: 30px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
}
  
  /* Copyright section */
footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
    
/*Responsiviteti per ekrane te vogla*/
@media screen and (max-width: 768px) {
    footer .right {
      display: block; 
      text-align: center;
      margin-top: 10px;
    }
}
  
  /*Responsiviteti per ekrane 576px dhe me te vogla*/
@media screen and (max-width: 576px) {
    footer .right {
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  
    footer .left,
    footer .right {
      width: 100%; 
      display: block;
    }
  
    footer .right a {
      display: inline-block; 
      margin: 5px;
    }
  }
